body {
	background-color: #21252b;
	color: #abb2bf;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

strong {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h1, h2 {
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-bottom: 15px;
}

img.icon {
	display: inline;
	margin: 0px;
}

#main-wrapper {
	background-color: #282c34;
	padding: 37px;
}

.signiture {
	font-family: 'Homemade Apple', cursive;
	font-size: 150%;
}

#bottom-corner {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.list-title {
	list-style: none;
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

.caption {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-variant: small-caps;
}
